<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
</head>


<body>

    <h2>An unexpected error occurred</h2>

    <span class='error'> $errorMsg </span> <br>
    <br>

    <a href='/students'> Go to main page </a>

</body>
</html>