body{
 background-image: url('background_logo.jpeg');
 background-color: #faf4e8;
 height: 840px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.title {
    color: #3333cc;
}

.error {
    color: red;
}
