body{
font-family: 'Times New Roman', serif;
font-weight:300;
font-size:16px;

}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #3333cc;
}

td {
    padding: 5px;
}